@import './../../styles/variables.scss';

.card{
    margin: 10px;
    .card-title{
        color: $black-bis;
        cursor: pointer;
        text-transform: capitalize;
    }
    .card-body{
        padding: 0.6rem;
        background: $transparent;
        .btn {
            cursor: pointer;
            margin: 0;
            padding: 2px 8px;
            border-radius: 50%;
        }
    }
}