@import './../../styles/variables.scss';

.location-content{
    margin: 100px 0;
    width: 100%;
    top: -40px;
    background-color: $black-bis;
}

.customize{
    top: -40px;
    box-shadow: 0px 0px 5px $box-shadow-1;
    border-radius: 6px;
    border: none;
}

.card{
    z-index: 2;
    .card-title{
        margin-bottom: 20px;
    }

    h6.card-item{
        font-size: 1rem;
        margin: 10px 0;
        font-weight: 400;
    }
}