@import './../../styles/variables.scss';

.location-content{
    min-height: 220px;
    height: 220px;
    width: 100%;
    background-color: $black-bis;
    position: relative;
}

.map{
  width: 100%;
  height: 298px;
}
.card{
    z-index: 2;
    .card-title{
        margin-bottom: 20px;
    }

    h6.card-item{
        font-size: 1rem;
        margin: 10px 0;
        font-weight: 400;
    }
}