@import './styles/variables.scss';

*, *:focus{
    outline: 0;
    text-decoration: none;
}

body {
    background-color: $black-bis;
    font-family: $family-lato;
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

a, a:hover{
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
}

input{
    color: $white;
}

.btn{
    position: relative;
    z-index: 2;
    border-radius: 50px;
    margin: 20px 0;
    cursor: pointer;
    padding: 8px 26px;
    padding: 8px 26px;
    transition: 0.5s all ease;
} 

.btn-secundary{
    border-color: $white;
    color: $white;
    text-transform: capitalize;
    background: none;
    &:hover{
        border-color: $purple;
        color:$white;
        background-color: $purple
    }
    &:focus{
        box-shadow: none;
    }
}
.wrapper-content{
    height: 270px;
}

.social {
    a.fa, a.fa:hover{
        font-size: 1.2rem;
        color: $white;
        cursor: pointer;
        vertical-align: middle;
    }
}

.btn-primary {
    background-color: $purple;
    text-transform: capitalize;
    border: none;
    &:hover{
        background-color: $hover-purple;
    }
    &:focus{
        box-shadow: none;
    }
    &:disabled {
        color: #fff;
        background-color: $purple;
        border-color: $purple;
    }
}